<body *ngFor="let hotel of hotels"
      [class.selected]="hotel === selectedHotel"
      (click)="onSelect(hotel) || showDialog = !showDialog">
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>{{hotel.name}}</h2>
        <p>is this hotel available? {{hotel.availability}}</p>
      </div>
    </div>
</body>

<div *ngIf="selectedHotel">
  <app-dialog [(visible)]="showDialog">
    <h2>{{selectedHotel.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHotel.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHotel.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="showDialog = !showDialog" class="btn">Back</button>
  </app-dialog>

</div>
